{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">
                            <img src="{% static 'images/default.png' %}" alt="MarketHub Logo" class="logo">
                            Welcome to MarketHub
                        </h3> 
                        <form method="post" class="my-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">Username:</label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="id_email">Email:</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="id_phone_number">Phone Number:</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password:</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <label for="id_confirm_password">Confirm Password:</label>
                                {{ form.confirm_password }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </form>
                        <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
